body
{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #333;

    -webkit-transition: background-image 3s ease-in-out;
    -moz-transition: background-image 3s ease-in-out;
    transition: background-image 3s ease-in-out;
}

div#photo
{

}

div#weather
{
    width: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    color: #fff;

}

div#weather
{
    text-shadow: 0px 0px 10px #000;
    padding: 0px 30px 0px 30px;
    font-size: 2em;
}



div#weather div .icon
{
    text-align: left;
    font-size: 10.5em;
    font-weight: 700;
    padding: 0px;
    display: block;
}

div#weather div .desc
{
    text-align: left;
}

div#weather div .temp
{

    font-size: 12em;
    margin-bottom: -35px;
    padding: 0px;
    font-family: 'Karla', sans-serif;
}



div#weather div .temp-feels-high-low
{
    font-family: 'Karla', sans-serif;
    margin-bottom: 10px;
}

div#weather div .desc
{
    font-family: 'Rubik', sans-serif;
}